*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    @include respond(tab-land)
        font-size: 56.25%
    @include respond(tab-port)
        font-size: 50%
    @include respond(phone)
        font-size: 30%
    @include respond(big-screen)
        font-size: 75%

body
    font-family: "MontseratT", sans-serif
    font-weight: 400
    letter-spacing: .2rem
    font-size: 1.6rem
    color: $color-black
    background-color: $color-white

.container
    position: relative
    max-width: 144rem
    margin: 0 auto
    @include respond(tab-land)
        max-width: 120rem
    @include respond(tab-port)
        max-width: 90rem
